/*General style starts */

*{
    font-family: Arial, Helvetica, sans-serif;
}

/* General Style ends Here*/


/*Home page style starts Here*/

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-navbar{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5% 5%;
    margin-bottom: 0.4vh;  
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.home-navbar .logo img{
    width: 8vw;
}
.home-navbar .nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5%;
    top: 0;
    justify-content: space-around;
    margin-bottom: 1%;
    box-shadow:10px 5px 5px rgb(206, 199, 199) ;
    width: 100%;
    position: fixed;
    background-color: white;
}

.body{
    margin-top: 5%;
    background-image: linear-gradient(to right,  #cbf3d6,#ffffff, #e8eaed, #f6e8bf);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
     font-size: 62.5%;
}
a{
    text-decoration: none;
    color: black;
}
.search-icon{
    height: 4vh;
    width: 5vw;
   margin-top: 3.5%;
   background-color: aliceblue;
   border-radius: 50%;
   padding: 2% 1.5% 0% 1.5%;
}
.home-navbar button{
   
    height: 5vh;
    margin-top: 25%;
    background-color: green;
    color: white;
    border-style: none;
    padding: 1.5% 10%;
  
}
.body-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    
}
.body-header span{
    color: #34a853;
}
.first-paragragh{
    margin-top: -4%;
    text-align: center;
    font-size: 1.4rem;
}
.body-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    
}
.body-buttons button{
    font-size:1.6rem;
}
.button-green{
    width: auto;
    height: 15%;
    margin-top: 1%;
<<<<<<< HEAD
    background-color: #34a853;
=======
    margin-right: 1rem;
    margin-left: 40%;
    background-color: green;
>>>>>>> 380ad9c26693b14ffd05f164bc8b1e504681e413
    color: white;
    border-style: none;
    padding: 1% 2%;
    border-radius: 5px;
}
.button-white{
    width: auto;
    height: 15%;
    margin-top: 1%;
    background-color: white;
    border-style: none;
    padding: 1% 2%;
    border: solid green;
    color: green;
    border-radius: 5px;
}
.green{
    background-color: green;
    padding: 20%;
    color: white;
    border-style: none;
    white-space: nowrap;
    border-radius: 5px;
}
.white{
    background-color: white;
    padding: 19%;
    margin-top: 1%;
    white-space: nowrap;
    color: green;
    border-style: none;
    border: solid green;
    border-radius: 5px;
}
.footer-button{
    display: flex;
    flex-direction: row;
    gap: 25%;
}
.offers-main{
    display: flex;
    flex-direction: row;
    gap: 20%;
    margin: 5% 5%;
}
.offer-list-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.offer-list-2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.offer-list-3{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.icon{
    margin-top: 20px;
    color: green;
    font-size: 200%;
}
.image img{
    width: 30rem;
    height: 10rem;
}

.Automate-container{
    display: flex;
    flex-direction: row;
    gap: 15%; 
    padding: 5%;
    background-color: aliceblue;
}
.computerman img{
    width: 30rem;
    height: 10rem;
}

.learn-more{
    color: green;
}

.learn-more:hover{
    border: solid green;
    cursor: pointer;
    width: auto;
    height: 15%;
    padding: 5% 10%;
}
.orderly-accounting-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%; 
    padding: 10%;
    background-color: #e8eaed;
}
.orderly-accounting-container img{
    width: 30rem;
    height: 10rem;
}
.professional-invoice-container{
    display: flex;
    flex-direction: row;
    gap: 15%; 
    padding: 5%;
   background-color: aliceblue;
}
.professional-invoice-container img{
    width: 30rem;
    height: 10rem;
}
.custom-schedule-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%; 
    margin-bottom: 10%;
    padding: 10%;
    background-color: #e8eaed;
}
.custom-schedule-container img{
    width: 30rem;
    height: 10rem;
}
.why-peppu{
    text-align: center;
}
.easy-to-use{
    background-color: grey;
    padding: 3%;
    border-radius: 5%;
}
.easy-to-use p{
    text-align: center;
    color: white;
}
.easy-to-use h1{
    color: white;
}

.easy-to-use-icon{
    font-size: 280%;
    text-align: center;
    color: white;
}
.why-peppu-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.hear-from{
    text-align: center;
}
.first-testimony{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: solid green;
    border-radius: 35px;
    padding-right:  195px;
}
.first-testimony img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
    margin-top: 29px;
    margin-left: 30px;
}
.testimonies{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}


.we-are-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 2%;
    padding: 5%;
    background-color: whitesmoke;
}
.we-are-content p{
    text-align: center;
}
.subscribe{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(122, 185, 122);
  position: relative;
  left: 0%;
  top: 0%;
  z-index: -1;
}
.subscribe-body{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

li{
    list-style-type: none;
    padding-top: 20%;
}
li::before{
    color: white;
}

/* Home Page style ends here*/

/* Get started Page style starts here*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to right,  #cbf3d6,#ffffff, #e8eaed, #f6e8bf);
}

.container-text{
    margin-top: 10%;
    text-align: center;
}
.container-paragraph{
  text-align: center;
  margin-bottom: 4%;
}

.works{
    display: flex;
    flex-direction: row;
    margin-top: 70%;
    gap: 1rem;
    color: green;
}

.works:hover{
    border: solid green;
    padding-left: 10%;
    cursor: pointer;
}
.h3 {
    border: solid green;
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-left: 5%;
    gap: 1rem;
}

.h3 img{
    margin-top: 5%;
}
.h3 h3{
    color: green;
}

/* Get started page style ends here*/

/* features page style starts here*/

.features-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Features style ends here*/

.pricing-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* About page style*/

.about-header{
    margin-top: 5%;
    background-image: url("../src/assets/IMG_2430.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position:0 15%;
}

.about-peppu{
    margin-left: 12%;
    background-image: linear-gradient(to right,  #cbf3d6,#ffffff, #e8eaed, #f6e8bf);
   
}
.about-header{
    background-color: rgb(122, 185, 122)
}
.peppu-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-peppu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-us{
    padding-left: 12%;
}

.mission-class{
    background-color:rgb(122, 185, 122);
    display: flex;
    flex-direction: row;
    gap: 20%;
}
.mission-class img{
    padding-top: 9%;
    padding-bottom: 9%;
}
.mission-vision{
    background-color:rgb(155, 232, 155);
    width: 250%;
    padding: 6%;
}
.the-team img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
    margin-top: 29px;
    margin-left: 30px;
}
.the-team{
    background-color: rgb(156, 146, 146);
    border-radius: 10%;
    padding-right: 2% ;
    padding-left: 2%;
}
.arrow-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
    gap: 2rem;
    font-size: 200%;
}
.left{
    color: green;
    text-align: center;
}
.right{
    color: green;
}
.team{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}
.meet-the-team{
    margin-left: 6%;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 9%;
}
.start-buttons{
    background-color: rgb(138, 215, 138, 0.8);
    padding-bottom: 10%;
    padding-top: 2%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    z-index: -1;
    position: relative;
}
.get-in-touch{
    margin-top: -9.5%;
    background-color: rgb(213, 200, 200);
    top: 0;
    padding-left: 4%;
    border-radius: 2%;
    margin-right: 26%;
    margin-left: 300px;
}
.green-button{
    width: auto;
    height: 40px;
    margin-top: 10px;
    color: white;
    border-style: none;
    padding: 10px 20px;
    background-color: green;
    border-radius: 5px;
}
.white-button{
    width: auto;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    color: green;
    border-style: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.socials{
    display: flex;
    flex-direction: row;
}
.socials{
    color: blue;
}
.icons{
    padding-top: 3.5%;
    padding-right: 3%;
}

/**MEDIA-QUERIES**/
@media screen and (max-width:480px) {
    /**nav**/
    .home-navbar{
        height: 10vh;
    }
    .home-navbar img{
         margin-left: -24%;
    }
    .home-navbar a{
        display: none;
    }

    
}