/*General style starts */

*{
    font-family: Arial, Helvetica, sans-serif;
}

/* General Style ends Here*/


/*Home page style starts Here*/

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.home-navbar{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
}

.body{
    background-image: linear-gradient(to right,  #cbf3d6,#ffffff, #e8eaed, #f6e8bf);
}
a{
    text-decoration: none;
    color: black;
}
.search-icon{
   margin-top: 20px;
}
.home-navbar button{
    width: auto;
    height: 40px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border-style: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.body-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    
}
.body-header span{
    color: green;
}
.first-paragragh{
    text-align: center;
}
.body-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.button-green{
    width: auto;
    height: 40px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border-style: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.button-white{
    width: auto;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border-style: none;
    padding: 10px 20px;
    border: solid green;
    color: green;
    border-radius: 5px;
}

.offers-main{
    display: flex;
    flex-direction: row;
    gap: 20%;
    margin: 20px 20px;
}
.offer-list-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.offer-list-2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.offer-list-3{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.icon{
    margin-top: 20px;
    color: green;
    font-size: 30px;
}
.image img{
    width: 30rem;
    height: 10rem;
}

.Automate-container{
    display: flex;
    flex-direction: row;
    gap: 15%; 
    padding: 90px;
    background-color: aliceblue;
}
.computerman img{
    width: 30rem;
    height: 10rem;
}

.learn-more{
    color: green;
}

.learn-more:hover{
    border: solid green;
    cursor: pointer;
    width: auto;
    height: 40px;
    padding: 10px 20px;
}
.orderly-accounting-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%; 
    padding: 80px;
    background-color: #e8eaed;
}
.orderly-accounting-container img{
    width: 30rem;
    height: 10rem;
}
.professional-invoice-container{
    display: flex;
    flex-direction: row;
    gap: 15%; 
    padding: 90px;
   background-color: aliceblue;
}
.professional-invoice-container img{
    width: 30rem;
    height: 10rem;
}
.custom-schedule-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%; 
    margin-bottom: 90px;
    padding: 80px;
    background-color: #e8eaed;
}
.custom-schedule-container img{
    width: 30rem;
    height: 10rem;
}
.why-peppu{
    text-align: center;
}
.easy-to-use{
    background-color: grey;
    padding: 50px;
    border-radius: 15px;
}
.easy-to-use p{
    text-align: center;
    color: white;
}
.easy-to-use h1{
    color: white;
}

.easy-to-use-icon{
    font-size: 50px;
    text-align: center;
    color: white;
}
.why-peppu-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.hear-from{
    text-align: center;
}
.first-testimony{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: solid green;
    border-radius: 35px;
    padding-right:  195px;
}
.first-testimony img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
    margin-top: 29px;
    margin-left: 30px;
}
.testimonies{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}


.we-are-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-right: 160px;
    margin-left: 190px;
    margin-top: 20px;
    margin-bottom: -15px;
    border-radius: 15px;
    padding: 10px;
    background-color: whitesmoke;
}
.we-are-content p{
    text-align: center;
}
.subscribe{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(122, 185, 122);
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.subscribe-body{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

li{
    list-style-type: none;
    padding-top: 30px;
}
li::before{
    color: white;
}

/* Home Page style ends here*/

/* Get started Page style starts here*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to right,  #cbf3d6,#ffffff, #e8eaed, #f6e8bf);
}

.container-text{
    margin-top: 80px;
    text-align: center;
}
.container-paragraph{
  text-align: center;
  margin-bottom: 4rem;
}

.works{
    display: flex;
    flex-direction: row;
    margin-top: 178px;
    gap: 1rem;
    color: green;
}

.works:hover{
    border: solid green;
    padding-left: 10px;
    cursor: pointer;
}
.h3 {
    border: solid green;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
    gap: 1rem;
}

.h3 img{
    margin-top: 15px;
}
.h3 h3{
    color: green;
}

/* Get started page style ends here*/

/* features page style starts here*/

.features-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* About page style*/

.about-header{
    background-image: url("../src/assets/IMG_2430.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position:0 50px;
}

.about-peppu{
    margin-left: 148px;
    background-image: linear-gradient(to right,  #cbf3d6,#ffffff, #e8eaed, #f6e8bf);
   
}
.about-header{
    background-color: rgb(122, 185, 122)
}
.peppu-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-peppu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-us{
    padding-left: 126px;
}

.mission-class{
    background-color:rgb(122, 185, 122);
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.mission-class img{
    padding-top: 90px;
    padding-bottom: 90px;
}
.mission-vision{
    background-color:rgb(155, 232, 155);
    width: 250%;
    padding: 60px;
}
.the-team img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
    margin-top: 29px;
    margin-left: 30px;
}
.the-team{
    background-color: rgb(156, 146, 146);
    border-radius: 10px;
    padding-right: 20px ;
    padding-left: 20px ;
}
.arrow-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 2rem;
    font-size: 60px;
}
.left{
    color: green;
    text-align: center;
}
.right{
    color: green;
}
.team{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}
.meet-the-team{
    margin-left: 60px;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 90px;
}
.start-buttons{
    background-color: rgb(138, 215, 138, 0.8);
    padding-bottom: 100px;
    padding-top: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    z-index: -1;
    position: relative;
}
.get-in-touch{
    margin-top: -95px;
    background-color: rgb(213, 200, 200);
    top: 0;
    padding-left: 40px;
    border-radius: 20px;
    margin-right: 260px;
    margin-left: 300px;
}
.green-button{
    width: auto;
    height: 40px;
    margin-top: 10px;
    color: white;
    border-style: none;
    padding: 10px 20px;
    background-color: green;
    border-radius: 5px;
}
.white-button{
    width: auto;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    color: green;
    border-style: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.socials{
    display: flex;
    flex-direction: row;
}
.socials{
    color: blue;
}
.icons{
    padding-top: 15px;
    padding-right: 10px;
}