/*General style starts */

* {
    font-family: 'Poppins', sans-serif;

}

p {
    line-height: 2rem;
    color: #202124;

}

.root {
    font-size: 62.4%;
    overflow-x: hidden;

}
nav.fixed{
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

p {
    font-weight: 500;
}

/* General Style ends Here*/


/*Home page style starts Here*/

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

body {
    margin-left: 0%;
    margin-right: 0%;
}

.home-navbar {
    margin-top: -1%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5% 5%;
    margin-bottom: -0.4vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    top: 0%;
}

.home-navbar .logo img {
    width: 8vw;
    margin-top: 1%;
}

.home-navbar .nav-menu {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-evenly;
    margin-top: 0%;
    padding-left: 0%;
    position: absolute;
    right: 20%;
    font-weight: 100;
    align-items: center;

}

.home-navbar .nav-menu button {
    margin-top: 0%;
    margin-left: 14%;
    padding: auto 10%;

}
.nav-menu #products{
    border: none;
    background-color: white;
    margin-top: 3%;
    font-size: 1.1rem;
    
    
}
.nav-menu #optionOne,.nav-menu #optionTwo,.nav-menu #optionThree{
 margin:10%;
 font-size: 1.2rem;
}
.rs-dropdown .rs-dropdown-menu{
    width: 100%;
    margin: auto;
}

.body {
    background-color: #ffffff;
    background-image: linear-gradient(to top right, #ffffff, #b5cabb, #ffffff, #f0f0e0, #f0ebd8),
        linear-gradient(to left, #ffffff, #ffffff);
    font-size: 62.5%;
    margin-top: 0.5%;

}

.home-body {
    background-color: #ffffff;
    background-image: linear-gradient(to top right, #ffffff, #b5cabb, #ffffff, #f0f0e0, #f0ebd8),
    linear-gradient(to left, #ffffff, #ffffff);
    height: 175vh;
    margin-top: 0;
}



a {
    text-decoration: none;
    color: black;
    font-family: 'poppins' sans-serif;

}

.search-icon {
    height: 4%;
    width: 5%;
    margin-top: 3.5%;
    margin-right: 4%;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 2% 2% 1% 2%;
    font-size: 1rem;
    font-weight: 50;
}

.nbutton {
    background-color: #34a853;
    color: white;
    border-style: none;
    padding: 3% 10%;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.navbar .nav-menu {
    font-size: large;
}

.nav-menu li {
    font-size: 0.9rem;
    font-weight: 550;
}

.body-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4vw;
    gap: 1.5vw;
    margin-top: 0%;
    padding-top: 5vw;
}

.body-header .header {
    color: #34a853;
}

.first-paragragh {
    text-align: center;
    font-size: 2vw;
    margin-top: 1vw;
}

.body-buttons {
    justify-content: center;
}



.button-green,
.button-white {
    margin-top: 1vw;
    background-color: #34a853;
    color: white;
    border-style: none;
    padding: 1.5vw 3vw;
    border-radius: 5%;
    margin-bottom: 6vw;
}

.button-white {
    margin-top: 1vw;
    background-color: white;
    border: solid #34a853;
    color: #34a853;
    padding: 1.5vw 3vw;
    border-radius: 5%;
}

.g-tick {
    font-size: 4vw;
    color: #34a853;
}

.first-paragrah {
    font-size: 2vw;
    padding: 3vw;
}

.check-offers {
    font-size: 1.4rem;
    margin-top: 8%;
}

.offers-main {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 15%;
    margin-top: 5%;
}

.offer-list-1,
.offer-list-2,
.offer-list-3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.offer-list-1 p,
.offer-list-2 p,
.offer-list-3 p {
    font-weight: 550;
}

.icon {
    margin-top: 20px;
    color: #34a853;
    font-size: 200%;
    margin-right: 0%;
}

.image img {
    width: 100%;
}

.Automate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -12%;
    height: 100%;
    padding-bottom: 5%;


}

.computerman {
    width: 45%;
    margin-left: 6%;
}

.Automate h2 {
    font-size: 2rem;

}

.Automate-head {
    margin-top: 3.5%;
    margin-right: 7%;

}

.Automate-head p {
    font-size: 1.5rem;
    margin-top: -4%;
}

.Automate-head p+p {
    font-size: 1.6rem;
    margin-top: 20%;
}

.learn-more {
    color: #34a853;
    font-weight: 1000;
}

.learn-more:hover {
    border: solid #34a853;
    cursor: pointer;
    padding: 2%;
}

.orderly-accounting-container {
    background-color: #e8eaed;
}

.orderly-accounting-container img {
    margin-top: 4vw;
}



.orderly-accounting {
    margin-left: 10%;
    margin-top: -3%;
}

.orderly-accounting h2 {
    font-size: 2rem;
}



.orderly-accounting p {
    font-size: 1.5rem;
}

.orderly-accounting p+p {
    font-size: 1.6rem;
}

.professional-invoice-container {
    background-color: #ffffff;
}

.professional-invoice-container img {
    margin-top: 4vw;
}

.professional-invoice {
    margin: auto 5% auto 0;
}

.professional-invoice h2,
.custom-schedule h2 {
    font-size: 2rem;
    margin-bottom: -4%;
}

.professional-invoice p,
.custom-schedule p {
    font-size: 1.4rem;

}

.professional-invoice p+p,
.custom-schedule p+p {
    font-size: 1.6rem;
    margin-top: 15%;
}

.custom-schedule-container {
   
    padding: 5%;
    background-color: #e8eaed;
    height: 100%;

}

.custom-schedule {
    margin-top: 10%;
}


.why-peppu {
    margin: auto;
    background-color: #fff;
}

.why-peppu h3 {
    
    font-size: 1.8rem;
    text-align: center;
}

.easy-to-use {
    background-color: #8f9091;
    height: 100vh;
    border-radius: 5vw;
   
}

.easy-to-use.last {
    padding-bottom: 2.4%;
}

.easy-to-use p {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    margin-top: -8%;
    font-weight: 300;
}

.easy-to-use h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.easy-to-use-icon {
    font-size: 5.8rem;
    text-align: center;
    color: white;
    margin-bottom: -15%;
    margin-top: 2%;
}

.why-peppu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;


}

.hear-from {
    text-align: center;
}

.hear-from h2 {
    margin-top: 8%;
    font-size: 2rem;
}

.first-testimony h4 {
    font-size: 1.2rem;
}

.first-testimony {
    display: flex;
    flex-direction: row;
    border: 0.6vh solid #34a853;
    border-radius: 5rem;
    height: 40%;
    width: 45%;
}

.first-testimony img {
    border-radius: 50%;
    width: 25%;
    height: 80%;
    margin: auto 5%;
}

.first-testimony p {
    font-size: 1.4rem;
}

.img-left {
    margin-left: 14%;
}

#img-3 {
    width: 20%;


}

#img-4 {
    height: 40%;
    width: 20%;
    padding: 0;
}

.testimonies {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 95%;
    margin: auto;
}


.we-offer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    height: 18vw;
    width: 90vw;
    margin: 5% auto -1.5% auto;
    background-color: #e8eaed;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.we-offer-content h4 {
    font-size: 3vw;
    margin-top: 2vw;
    text-align: center;
}

.we-offer-content .g-button {
    margin-top: 2vw;
    color: white;
    border-style: none;
    background-color: #34a853;
    border-radius: 1vh;
    font-size: 2vh;
    padding: 2vw;
}

.we-offer-content .w-button {
    margin-top: 2vw;
    background-color: white;
    color: #34a853;
    border-style: none;
    border-radius: 1vh;
    font-size: 2vh;
    padding: 2vw;
}



.footer-button button {
    padding: 15% 20%;
    font-size: 1.4rem;
}

.foot {
    text-align: center;
    color: #fff ;
}

.foot-icon {
    padding-right: 5%;
    font-size: 5vw;
}

.subscribe {
    background-color: #b8ebc6;
    position: relative;
    
}

.subscribe-body img {
    width: 15vw;
    height: 10vh;
    margin-bottom: 4vh;
}

.subscribe-body input {
    height: 8vh;
    width: 25vw;
    font-size: 1.5rem;
    padding-left: 5%;
}

.subscribe-body p {
    font-size: 1.4rem;
    font-weight: 400;
}

.subscribe-body {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.Quick-link h4,
.Terms h4,
.Follow-us h4 {
    margin-top: 95%;
    font-size: 1.4rem;
    margin-bottom: -5%;
}

.Terms h4 {
    margin-top: 60%;
}

.Follow-us h4 {
    margin-top: 100%;
    margin-left: -2%;
}

li {
    list-style-type: none;
    margin-left: -40%;
    padding-top: 20%;
    font-size: 1.4rem;
}

.Quick-link li {
    margin-left: -30%;

}

.Terms li {
    margin-left: -17%;
    margin-top: -14%;
}

.Terms li+li {
    margin-top: -10%;
}

.copyright {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 50%;
}

.copyright p {
    margin-top: 17%;
    color: white;

}

.icons {
    margin-top: 16%;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    flex-direction: row;

}



.copyright-text {
    padding-top: 1%;
    font-size: 32px;
    font-weight: 400;
}

.copyright-text p {
    margin-left: 0%;
    margin-top: 130%;
    font-size: 1.5rem;
    font-weight: 800;
}

.copyright-icon {
    color: white;
    margin-top: 42%;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contacts {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Home Page style ends here*/







/* features page style starts here*/

.features-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Features style ends here*/

.pricing-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* About page style*/

.about-header {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 0.5%;
}

.about-peppu {
    display: flex;
    justify-content: space-evenly;
    height: 175vh;

}

.about-header main {
    flex-grow: 2;
}

.about-peppu aside {
    background-color: #79ce91;
    width: 35%;
    padding-top: 5%;
}

.about-peppu aside img {
    height: 60%;
    width: 150%;
}



.about-peppu main {

    background-image: linear-gradient(to top right, #ffffff, #b5cabb, #ffffff, #f0f0e0, #f0ebd8),
        linear-gradient(to left, #ffffff, #ffffff);



}

.peppu-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;



}

.peppu-description figure img {
    height: 80%;
    width: 120%;
    margin-right: 1%;
    margin-top: 6%;
    margin-left: -20%;
}

.peppu-description article {
    width: 200%;
    margin-left: 3%;
    padding-top: 5%;
    padding-right: 5%;
}

.about-intro {
    margin-left: 5%;
    margin-bottom: -5%;
}

.product-intro {
    margin-left: 5%;
    margin-top: 5%;
}

.product-intro h1 {
    font-size: 2.5rem;
    font-weight:bolder;
    margin-bottom: 5%;
}

.product-intro p {
    margin-bottom: 8%;
}

.about-intro h1 {
    font-size: 1.8rem;
    font-weight:bolder;
}

.peppu-description article p {
    font-size: 1.5rem;
    font-weight: 450;
    margin-top: -2%;
    text-align: center;

}

.peppu-description article figure {
    font-size: 1.5rem;
    font-weight: 400;
    color: #34a853;
}

.quote-top {
    margin-left: 0%;
}

.quote-bot {
    margin-left: 90%;
}

.about-intro p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: -2%;
}

.red {
    color: #ea4335;
}

.blue {
    color: #4285f4;
}

.about-us {
    margin-left: 5%;
    margin-right: 10%;
    margin-top: -8%;

}

.about-us h2 {
    font-size: 2rem;

}

.mission-class h3,
.what-we-are h3,
.meet-the-team h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.about-us p,
.mission-class p,
.what-we-are p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 8vh;
    text-align: justify;
}

.mission-class {
    background-color: #79ce91;
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 85vh;

}

.mission-class img {
    width: 100%;
    height: 60%;
    margin-top: 10%;
}

.mission-vision {
    background-color: #88d99e;
    width: 250%;
    padding: 2%;

}

.what-we-are {
    background-color: #88d99e;
    padding-bottom: 4%;
}

.what-we-are h3 {
    margin: 2% 5%;

}

.what-we-are p {
    margin: auto 5%;
}

.the-team img {
    border-radius: 50%;
    width: 60%;
    height: 38%;
    margin-top: 4%;
    margin-bottom: -3%;
    background-color: #f6f0dd;

}

.the-team {
    background-color: #e8eaed;
    border-radius: 12%;
    height: 46vh;
    width: 16%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}

.the-product {
    background-color: #e8eaed;
    height: 100%;
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top:10%;
}

.the-product img {
    width: 50%;
    height: 35%;
    margin-top: 4%;
}
.the-product a {
    font-size: 1.5rem;
}

.the-product p{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    margin: 0% 5%;
}

.the-team p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.the-team p+p {
    color: #34a853;
    margin-top: 0%;
    font-size: 1.35rem;


}

.arrow-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    gap: 2rem;
    font-size: 300%;
}

.left {
    color: #34a853;
    text-align: center;
    margin-right: -5%;
}

.right {
    color: #34a853;
}

.team {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

.meet-the-team {
    width: 90%;
    margin: auto;
}




.start-buttons {
    background-color: #7dba8d;
    padding-top: 2%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin-top: 2%;



}

.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    width: 60vw;
    margin: -5% auto 5% auto;
    border-radius: 4vh;
    background-color: #fcfbfa;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.get-in-touch {
    background-color: #e8eaed;
    border-top-left-radius: 4vh;
    border-bottom-left-radius: 4vh;
    width: 60%;



}

.get-in-touch h3 {
    margin-bottom: 3%;
    color: black;
    font-weight: 400;
    font-size: 1.6rem;
    margin-left: 12%;
}

.get-in-touch p {
    color: #4285f4;
}

.green-button {

    margin-top: 5%;
    color: white;
    border-style: none;
    background-color: #34a853;
    border-radius: 1vh;
    font-size: 1.8rem;
    padding: 10%;

}

.white-button {
    width: auto;
    margin-top: 5%;
    background-color: white;
    color: #34a853;
    border-style: none;
    border-radius: 1vh;
    font-size: 1.8rem;
    padding: 10%;

}

.start article {
    padding: 1% 5%;
}

.socials {
    display: flex;
    flex-direction: row;
    color: #4285f4;
    margin-left: 12%;
    margin-bottom: -10%;
}

.socials p {
    font-size: 1.4rem;
    font-weight: 600;
}



.start img {
    width: 100%;
    height: 100%;
}

/**Privacy Section**/
.privacy-section {
    background-color: #ffffff;
    background-image: linear-gradient(to top right, #ffffff, #b5cabb, #ffffff, #f0f0e0, #f0ebd8),
    linear-gradient(to left, #ffffff, #ffffff);
    height: 20vw;
    margin-top: 0;
}

.consent-window {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-top: 2%;
}

.consent-window .center {
    font-size: large;
}
.consent-window p {
    text-align: justify;
    font-size: large;
    font-weight:300;
}
.text {
    text-align: left;
    padding-top: 10%;
}
/**End of Privacy Section**/

/**MEDIA-QUERIES**/
@media screen and (max-width:480px) {

    /**nav**/
    .home-navbar {
        height: 10vh;
    }

    .home-navbar img {
        margin-left: -24%;
    }


}

/**Invoice Page*/
.inv-none {
    resize: 'none';
    background: '#FFFFFF';
    border: 0;
    display: block;
}

  .page{
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    margin-top: 30px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 18cm;
    height: 29.7cm; 
  }
 
  .inv-logo {
    padding: 50px;
  }

  .textAreaWithoutStyle {
    resize: 'none';
    background: '#FFFFFF';
    border: 0;
    margin-left: 50px;
  }

  .style {
    font-size: large;
    font-weight: 800;
    align-content: center;
  }

  .inv{
    width: 40%;
    font-size: 50px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

  .side {
    float: left;
  }

.separator {
    margin-top: 50px;
}
.mb-lg {
    width: 28%
}

.mb-sm {
    width: 14%
}

.mb-md {
    width: 20%;
}

.align-right {
    text-align: right;
    background-color: #1a1b1c !important;
    color: #e8eaed;
}

.align-left {
    text-align: left;
    background-color: #1a1b1c !important;
    color: #e8eaed;
}

.parent{ 
    background-color: #1a1b1c; /* aligns horizontally */
    padding: 10px 0 5px 0;
    margin:0 40px 0 40px;
}

.box {
    border-bottom: 1px dotted #000;
}

.box-align-left {
    text-align: right;
}

.input-bttn {
    margin:10px 40px 0 40px; 
}

.mg {
    margin-top: 50px;
}

.mb-xl  {
    margin:0 40px 0 40px;
    width: 85%; 
}

.bd {
    font-weight: bolder;
}

/* Download Page*/
.download-pdf {
    position: fixed;
    top: 100px;
    margin-left: -110px;
    width: 40px;
    height: 40px;
    background: url('./assets/download.svg');
    transition: opacity 0.2s ease-in-out;
}
.download-pdf.loading {
    opacity: 0.3;
}
.download-pdf a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Editable Calender*/
.input, .span, .select {
    display: inline-block;
    width: 98%;
    padding: 4px 12px 4px 0;
    margin-bottom: 1px;
    border: 1px dotted transparent;
    transition: background 0.1s ease-in-out, border-color 0.2s ease-in-out;
}
.input:hover, .select:hover, .input:focus, .select:focus {
    background: #fdf4db;
}
.input:focus, .select:focus {
    border-color: #66afe9;
}
.input.white:hover, .select.white:hover, .input.white:focus, .select.white:focus {
    color: inherit;
}

/*Image Section*/
.image {
    position: relative;
    display: inline-block;
}
.image__file {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.image__upload {
    cursor: pointer;
    font-size: 12px;
    color: #aaa;
    background-color: #e3e3e3;
    border: 2px dashed #aaa;
    display: block;
    width: 100px;
    height: 20px;
    padding: 0;
    outline: none;
    transition: height 0.2s, font-size 0.2s;
}
.image__upload:focus, .image__upload:hover {
    height: 100px;
    font-size: 14px;
}
.image__img {
    display: block;
}
.image__change {
    cursor: pointer;
    font-size: 14px;
    color: #aaa;
    background-color: #e3e3e3;
    border: 2px dashed #aaa;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
}
.image__change:hover, .image__change:focus {
    opacity: 0.95;
}
.image__edit, .image__remove {
    background: #999 no-repeat center center;
    background-size: 10px 10px;
    border: 0;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    text-indent: -9999em;
    opacity: 0;
    transition: opacity 0.2s, background-color 0.2s;
}
.image__edit:hover, .image__remove:hover, .image__edit:focus, .image__remove:focus {
    background-color: #666;
}
.image:hover .image__edit, .image:hover .image__remove, .image:focus-within .image__edit, .image:focus-within .image__remove {
    opacity: 1;
}
.image__edit {
    background-image: url('../images/resize.svg');
    right: 20px;
}
.image__remove {
    background-image: url('../images/remove.svg');
    right: -10px;
}
.image__width-wrapper {
    background-color: #fff;
    padding: 10px 20px 25px;
    position: absolute;
    width: 270px;
    top: -70px;
    left: 0;
    border-radius: 4px;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.15);
}

/*Invoice Section*/
.invoice-wrapper {
    position: relative;
    background: #fff;
    padding: 40px 35px;
    box-shadow: 0 0 17px 0 rgba(16, 40, 73, 0.09);
  }

  .flex {
    display: flex;
  }

  .w-50 {
    width: 50%;
  }

  .bold {
    font-weight: 600;
  }
  
  .fs-20 {
    font-size: 20px;
  }

  .w-50 {
    width: 50%;
  }

  .fs-45 {
    font-size: 45px;
  }

  .right {
    text-align: right;
  }

  .mt-40 {
    margin-top: 40px;
  }

  .w-55 {
    width: 55%;
  }

  .fs-45 {
    font-size: 45px;
  }

  .dark {
    color: #222;
  }

  .mb-5 {
    margin-bottom: 5px;
  }
  
  .w-45 {
    width: 45%;
  }

  .w-40 {
    width: 40%;
  }

  .w-60 {
    width: 60%;
  }

  .mt-30 {
    margin-top: 30px;
  }

  .bg-dark {
    background-color: #666;
  }

  .w-48 {
    width: 48%;
  }

  .p-4-8 {
    padding: 4px 8px;
  }

  .w-17 {
    width: 17%;
  }
  
  .w-18 {
    width: 18%;
  }

  .white {
    color: #fff;
    background-color: #000;
  }

  .pb-10 {
    padding-bottom: 10px;
  }

  button.link {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: #428bca;
}
button.link:hover, button.link:focus {
    text-decoration: underline;
}
button.link:focus {
    outline: 1px dotted #66afe9;
    opacity: 1;
}

.row__remove {
    display: flex;
    padding: 0;
    position: absolute;
    top: 10px;
    right: -20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.row:hover .row__remove, .row:focus-within .row__remove {
    opacity: 1;
}

.icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
}
.icon-absolute {
    position: absolute;
}
.icon-remove::before, .icon-remove::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    left: 7px;
    top: 3px;
    background-color: #fff;
}
.icon-remove::before {
    transform: rotate(45deg);
}
.icon-remove::after {
    transform: rotate(-45deg);
}
.icon-add::before, .icon-add::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    left: 7px;
    top: 3px;
    background-color: #fff;
}
.icon-add::after {
    transform: rotate(-90deg);
}

.bg-red {
    background-color: #f03434;
  }

  .mt-10 {
    margin-top: 10px;
  }

.bg-green {
    background-color: #26a65b;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .p-5 {
    padding: 5px;
  }

  .bg-gray {
    background-color: #e3e3e3;
  }

  .txt-gray {
    background-color: #e3e3e3;
  }

  .ml-30 {
    margin-left: 30px;
  }

  .w-auto {
    width: auto !important;
  }

  .w-100 {
    width: 100% !important;
  }

  .p-1 {
    margin: 5px;
  }

  .box {
    border-bottom: 1px dotted #000;
}